<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (datosImagen(); as datosImagenRef) {
      <div>
        <h2 data-cy="datosImagenDetailsHeading"><span jhiTranslate="appylbApp.datosImagen.detail.title">Datos Imagen</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ datosImagenRef.id }}</span>
          </dd>
          <dt>
            <span [ngbTooltip]="'appylbApp.datosImagen.help.imagen1' | translate" jhiTranslate="appylbApp.datosImagen.imagen1"
              >Imagen 1</span
            >
          </dt>
          <dd>
            @if (datosImagenRef.imagen1) {
              <div>
                <a (click)="openFile(datosImagenRef.imagen1 ?? '', datosImagenRef.imagen1ContentType)">
                  <img
                    [src]="'data:' + datosImagenRef.imagen1ContentType + ';base64,' + datosImagenRef.imagen1"
                    style="max-width: 100%"
                    alt="datosImagen"
                  />
                </a>
                {{ datosImagenRef.imagen1ContentType }}, {{ byteSize(datosImagenRef.imagen1 ?? '') }}
              </div>
            }
          </dd>
          <dt><span jhiTranslate="appylbApp.datosImagen.imagen2">Imagen 2</span></dt>
          <dd>
            @if (datosImagenRef.imagen2) {
              <div>
                <a (click)="openFile(datosImagenRef.imagen2 ?? '', datosImagenRef.imagen2ContentType)">
                  <img
                    [src]="'data:' + datosImagenRef.imagen2ContentType + ';base64,' + datosImagenRef.imagen2"
                    style="max-width: 100%"
                    alt="datosImagen"
                  />
                </a>
                {{ datosImagenRef.imagen2ContentType }}, {{ byteSize(datosImagenRef.imagen2 ?? '') }}
              </div>
            }
          </dd>
          <dt><span jhiTranslate="appylbApp.datosImagen.imagen3">Imagen 3</span></dt>
          <dd>
            @if (datosImagenRef.imagen3) {
              <div>
                <a (click)="openFile(datosImagenRef.imagen3 ?? '', datosImagenRef.imagen3ContentType)">
                  <img
                    [src]="'data:' + datosImagenRef.imagen3ContentType + ';base64,' + datosImagenRef.imagen3"
                    style="max-width: 100%"
                    alt="datosImagen"
                  />
                </a>
                {{ datosImagenRef.imagen3ContentType }}, {{ byteSize(datosImagenRef.imagen3 ?? '') }}
              </div>
            }
          </dd>
          <dt><span jhiTranslate="appylbApp.datosImagen.imagen4">Imagen 4</span></dt>
          <dd>
            @if (datosImagenRef.imagen4) {
              <div>
                <a (click)="openFile(datosImagenRef.imagen4 ?? '', datosImagenRef.imagen4ContentType)">
                  <img
                    [src]="'data:' + datosImagenRef.imagen4ContentType + ';base64,' + datosImagenRef.imagen4"
                    style="max-width: 100%"
                    alt="datosImagen"
                  />
                </a>
                {{ datosImagenRef.imagen4ContentType }}, {{ byteSize(datosImagenRef.imagen4 ?? '') }}
              </div>
            }
          </dd>

          <dt><span jhiTranslate="appylbApp.datosImagen.versionDatos">Version Datos</span></dt>
          <dd>
            @if (datosImagen()!.versionDatos) {
              <div>
                <a [routerLink]="['/version-datos', datosImagen()!.versionDatos?.id, 'view']">{{
                  datosImagenRef.versionDatos?.nombreVersion
                }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
        </button>

        <button type="button" [routerLink]="['/datos-imagen', datosImagenRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
