<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-datos-imagen-heading"
        data-cy="DatosImagenCreateUpdateHeading"
        jhiTranslate="appylbApp.datosImagen.home.createOrEditLabel"
      >
        Crear o editar Datos Imagen
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="appylbApp.datosImagen.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let imagen1Ref = editForm.get('imagen1')!;
        <div class="mb-3">
          <label
            class="form-label"
            for="field_imagen1"
            [ngbTooltip]="'appylbApp.datosImagen.help.imagen1' | translate"
            jhiTranslate="appylbApp.datosImagen.imagen1"
            >Imagen 1</label
          >
          <div>
            @if (imagen1Ref.value) {
              <img
                [src]="'data:' + editForm.get('imagen1ContentType')!.value + ';base64,' + imagen1Ref.value"
                style="max-height: 100px"
                alt="datosImagen"
              />
            }
            @if (imagen1Ref.value) {
              <div class="form-text text-danger clearfix">
                <span class="pull-start">{{ editForm.get('imagen1ContentType')!.value }}, {{ byteSize(imagen1Ref.value!) }}</span>
                <button
                  type="button"
                  (click)="clearInputImage('imagen1', 'imagen1ContentType', 'file_imagen1')"
                  class="btn btn-secondary btn-xs pull-end"
                >
                  <fa-icon icon="times"></fa-icon>
                </button>
              </div>
            }
            <input
              type="file"
              id="file_imagen1"
              data-cy="imagen1"
              (change)="setFileData($event, 'imagen1', true)"
              accept="image/*"
              jhiTranslate="entity.action.addimage"
            />
          </div>
          <input type="hidden" class="form-control" name="imagen1" id="field_imagen1" data-cy="imagen1" formControlName="imagen1" />
          <input
            type="hidden"
            class="form-control"
            name="imagen1ContentType"
            id="field_imagen1ContentType"
            formControlName="imagen1ContentType"
          />
        </div>

        @let imagen2Ref = editForm.get('imagen2')!;
        <div class="mb-3">
          <label class="form-label" for="field_imagen2" jhiTranslate="appylbApp.datosImagen.imagen2">Imagen 2</label>
          <div>
            @if (imagen2Ref.value) {
              <img
                [src]="'data:' + editForm.get('imagen2ContentType')!.value + ';base64,' + imagen2Ref.value"
                style="max-height: 100px"
                alt="datosImagen"
              />
            }
            @if (imagen2Ref.value) {
              <div class="form-text text-danger clearfix">
                <span class="pull-start">{{ editForm.get('imagen2ContentType')!.value }}, {{ byteSize(imagen2Ref.value!) }}</span>
                <button
                  type="button"
                  (click)="clearInputImage('imagen2', 'imagen2ContentType', 'file_imagen2')"
                  class="btn btn-secondary btn-xs pull-end"
                >
                  <fa-icon icon="times"></fa-icon>
                </button>
              </div>
            }
            <input
              type="file"
              id="file_imagen2"
              data-cy="imagen2"
              (change)="setFileData($event, 'imagen2', true)"
              accept="image/*"
              jhiTranslate="entity.action.addimage"
            />
          </div>
          <input type="hidden" class="form-control" name="imagen2" id="field_imagen2" data-cy="imagen2" formControlName="imagen2" />
          <input
            type="hidden"
            class="form-control"
            name="imagen2ContentType"
            id="field_imagen2ContentType"
            formControlName="imagen2ContentType"
          />
        </div>

        @let imagen3Ref = editForm.get('imagen3')!;
        <div class="mb-3">
          <label class="form-label" for="field_imagen3" jhiTranslate="appylbApp.datosImagen.imagen3">Imagen 3</label>
          <div>
            @if (imagen3Ref.value) {
              <img
                [src]="'data:' + editForm.get('imagen3ContentType')!.value + ';base64,' + imagen3Ref.value"
                style="max-height: 100px"
                alt="datosImagen"
              />
            }
            @if (imagen3Ref.value) {
              <div class="form-text text-danger clearfix">
                <span class="pull-start">{{ editForm.get('imagen3ContentType')!.value }}, {{ byteSize(imagen3Ref.value!) }}</span>
                <button
                  type="button"
                  (click)="clearInputImage('imagen3', 'imagen3ContentType', 'file_imagen3')"
                  class="btn btn-secondary btn-xs pull-end"
                >
                  <fa-icon icon="times"></fa-icon>
                </button>
              </div>
            }
            <input
              type="file"
              id="file_imagen3"
              data-cy="imagen3"
              (change)="setFileData($event, 'imagen3', true)"
              accept="image/*"
              jhiTranslate="entity.action.addimage"
            />
          </div>
          <input type="hidden" class="form-control" name="imagen3" id="field_imagen3" data-cy="imagen3" formControlName="imagen3" />
          <input
            type="hidden"
            class="form-control"
            name="imagen3ContentType"
            id="field_imagen3ContentType"
            formControlName="imagen3ContentType"
          />
        </div>

        @let imagen4Ref = editForm.get('imagen4')!;
        <div class="mb-3">
          <label class="form-label" for="field_imagen4" jhiTranslate="appylbApp.datosImagen.imagen4">Imagen 4</label>
          <div>
            @if (imagen4Ref.value) {
              <img
                [src]="'data:' + editForm.get('imagen4ContentType')!.value + ';base64,' + imagen4Ref.value"
                style="max-height: 100px"
                alt="datosImagen"
              />
            }
            @if (imagen4Ref.value) {
              <div class="form-text text-danger clearfix">
                <span class="pull-start">{{ editForm.get('imagen4ContentType')!.value }}, {{ byteSize(imagen4Ref.value!) }}</span>
                <button
                  type="button"
                  (click)="clearInputImage('imagen4', 'imagen4ContentType', 'file_imagen4')"
                  class="btn btn-secondary btn-xs pull-end"
                >
                  <fa-icon icon="times"></fa-icon>
                </button>
              </div>
            }
            <input
              type="file"
              id="file_imagen4"
              data-cy="imagen4"
              (change)="setFileData($event, 'imagen4', true)"
              accept="image/*"
              jhiTranslate="entity.action.addimage"
            />
          </div>
          <input type="hidden" class="form-control" name="imagen4" id="field_imagen4" data-cy="imagen4" formControlName="imagen4" />
          <input
            type="hidden"
            class="form-control"
            name="imagen4ContentType"
            id="field_imagen4ContentType"
            formControlName="imagen4ContentType"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_versionDatos" jhiTranslate="appylbApp.datosImagen.versionDatos">Version Datos</label>
          <select
            class="form-control"
            id="field_versionDatos"
            data-cy="versionDatos"
            name="versionDatos"
            formControlName="versionDatos"
            [compareWith]="compareVersionDatos"
          >
            <option [ngValue]="null"></option>
            @for (versionDatosOption of versionDatosCollection; track $index) {
              <option [ngValue]="versionDatosOption">{{ versionDatosOption.nombreVersion }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
