<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-datos-imagen-heading"
        data-cy="DatosImagenCreateUpdateHeading"
        jhiTranslate="appylbApp.datosImagen.home.createOrEditLabel"
      >
        Crear o editar Datos Imagen
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="appylbApp.datosImagen.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let imagen1Ref = editForm.get('imagen1')!;
        <div class="mb-3">
          <label
            class="form-label"
            for="field_imagen1"
            [ngbTooltip]="'appylbApp.datosImagen.help.imagen1' | translate"
            jhiTranslate="appylbApp.datosImagen.imagen1"
            >Imagen 1</label
          >
          <div>
            @if (imagen1Ref.value) {
              <img
                [src]="'data:' + editForm.get('imagen1ContentType')!.value + ';base64,' + imagen1Ref.value"
                style="max-height: 100px"
                alt="datosImagen"
              />
            }
            @if (imagen1Ref.value) {
              <div class="form-text text-danger clearfix">
                <span class="pull-start">{{ editForm.get('imagen1ContentType')!.value }}, {{ byteSize(imagen1Ref.value!) }}</span>
                <button
                  type="button"
                  (click)="clearInputImage('imagen1', 'imagen1ContentType', 'file_imagen1')"
                  class="btn btn-secondary btn-xs pull-end"
                >
                  <fa-icon icon="times"></fa-icon>
                </button>
              </div>
            }
            <input
              type="file"
              id="file_imagen1"
              data-cy="imagen1"
              (change)="setFileData($event, 'imagen1', true)"
              accept="image/*"
              jhiTranslate="entity.action.addimage"
            />
          </div>
          <input type="hidden" class="form-control" name="imagen1" id="field_imagen1" data-cy="imagen1" formControlName="imagen1" />
          <input
            type="hidden"
            class="form-control"
            name="imagen1ContentType"
            id="field_imagen1ContentType"
            formControlName="imagen1ContentType"
          />
        </div>

        @let imagen2Ref = editForm.get('imagen2')!;
        <div class="mb-3">
          <label class="form-label" for="field_imagen2" jhiTranslate="appylbApp.datosImagen.imagen2">Imagen 2</label>
          <div>
            @if (imagen2Ref.value) {
              <img
                [src]="'data:' + editForm.get('imagen2ContentType')!.value + ';base64,' + imagen2Ref.value"
                style="max-height: 100px"
                alt="datosImagen"
              />
            }
            @if (imagen2Ref.value) {
              <div class="form-text text-danger clearfix">
                <span class="pull-start">{{ editForm.get('imagen2ContentType')!.value }}, {{ byteSize(imagen2Ref.value!) }}</span>
                <button
                  type="button"
                  (click)="clearInputImage('imagen2', 'imagen2ContentType', 'file_imagen2')"
                  class="btn btn-secondary btn-xs pull-end"
                >
                  <fa-icon icon="times"></fa-icon>
                </button>
              </div>
            }
            <input
              type="file"
              id="file_imagen2"
              data-cy="imagen2"
              (change)="setFileData($event, 'imagen2', true)"
              accept="image/*"
              jhiTranslate="entity.action.addimage"
            />
          </div>
          <input type="hidden" class="form-control" name="imagen2" id="field_imagen2" data-cy="imagen2" formControlName="imagen2" />
          <input
            type="hidden"
            class="form-control"
            name="imagen2ContentType"
            id="field_imagen2ContentType"
            formControlName="imagen2ContentType"
          />
        </div>

        @let imagen3Ref = editForm.get('imagen3')!;
        <div class="mb-3">
          <label class="form-label" for="field_imagen3" jhiTranslate="appylbApp.datosImagen.imagen3">Imagen 3</label>
          <div>
            @if (imagen3Ref.value) {
              <img
                [src]="'data:' + editForm.get('imagen3ContentType')!.value + ';base64,' + imagen3Ref.value"
                style="max-height: 100px"
                alt="datosImagen"
              />
            }
            @if (imagen3Ref.value) {
              <div class="form-text text-danger clearfix">
                <span class="pull-start">{{ editForm.get('imagen3ContentType')!.value }}, {{ byteSize(imagen3Ref.value!) }}</span>
                <button
                  type="button"
                  (click)="clearInputImage('imagen3', 'imagen3ContentType', 'file_imagen3')"
                  class="btn btn-secondary btn-xs pull-end"
                >
                  <fa-icon icon="times"></fa-icon>
                </button>
              </div>
            }
            <input
              type="file"
              id="file_imagen3"
              data-cy="imagen3"
              (change)="setFileData($event, 'imagen3', true)"
              accept="image/*"
              jhiTranslate="entity.action.addimage"
            />
          </div>
          <input type="hidden" class="form-control" name="imagen3" id="field_imagen3" data-cy="imagen3" formControlName="imagen3" />
          <input
            type="hidden"
            class="form-control"
            name="imagen3ContentType"
            id="field_imagen3ContentType"
            formControlName="imagen3ContentType"
          />
        </div>

        @let imagen4Ref = editForm.get('imagen4')!;
        <div class="mb-3">
          <label class="form-label" for="field_imagen4" jhiTranslate="appylbApp.datosImagen.imagen4">Imagen 4</label>
          <div>
            @if (imagen4Ref.value) {
              <img
                [src]="'data:' + editForm.get('imagen4ContentType')!.value + ';base64,' + imagen4Ref.value"
                style="max-height: 100px"
                alt="datosImagen"
              />
            }
            @if (imagen4Ref.value) {
              <div class="form-text text-danger clearfix">
                <span class="pull-start">{{ editForm.get('imagen4ContentType')!.value }}, {{ byteSize(imagen4Ref.value!) }}</span>
                <button
                  type="button"
                  (click)="clearInputImage('imagen4', 'imagen4ContentType', 'file_imagen4')"
                  class="btn btn-secondary btn-xs pull-end"
                >
                  <fa-icon icon="times"></fa-icon>
                </button>
              </div>
            }
            <input
              type="file"
              id="file_imagen4"
              data-cy="imagen4"
              (change)="setFileData($event, 'imagen4', true)"
              accept="image/*"
              jhiTranslate="entity.action.addimage"
            />
          </div>
          <input type="hidden" class="form-control" name="imagen4" id="field_imagen4" data-cy="imagen4" formControlName="imagen4" />
          <input
            type="hidden"
            class="form-control"
            name="imagen4ContentType"
            id="field_imagen4ContentType"
            formControlName="imagen4ContentType"
          />
        </div>

        @let imagen5Ref = editForm.get('imagen5')!;
        <div class="mb-3">
          <label class="form-label" for="field_imagen5" jhiTranslate="appylbApp.datosImagen.imagen5">Imagen 5</label>
          <div>
            @if (imagen5Ref.value) {
              <img
                [src]="'data:' + editForm.get('imagen5ContentType')!.value + ';base64,' + imagen5Ref.value"
                style="max-height: 100px"
                alt="datosImagen"
              />
            }
            @if (imagen5Ref.value) {
              <div class="form-text text-danger clearfix">
                <span class="pull-start">{{ editForm.get('imagen5ContentType')!.value }}, {{ byteSize(imagen5Ref.value!) }}</span>
                <button
                  type="button"
                  (click)="clearInputImage('imagen5', 'imagen5ContentType', 'file_imagen5')"
                  class="btn btn-secondary btn-xs pull-end"
                >
                  <fa-icon icon="times"></fa-icon>
                </button>
              </div>
            }
            <input
              type="file"
              id="file_imagen5"
              data-cy="imagen5"
              (change)="setFileData($event, 'imagen5', true)"
              accept="image/*"
              jhiTranslate="entity.action.addimage"
            />
          </div>
          <input type="hidden" class="form-control" name="imagen5" id="field_imagen5" data-cy="imagen5" formControlName="imagen5" />
          <input
            type="hidden"
            class="form-control"
            name="imagen5ContentType"
            id="field_imagen5ContentType"
            formControlName="imagen5ContentType"
          />
        </div>

        @let imagen6Ref = editForm.get('imagen6')!;
        <div class="mb-3">
          <label class="form-label" for="field_imagen6" jhiTranslate="appylbApp.datosImagen.imagen6">Imagen 6</label>
          <div>
            @if (imagen6Ref.value) {
              <img
                [src]="'data:' + editForm.get('imagen6ContentType')!.value + ';base64,' + imagen6Ref.value"
                style="max-height: 100px"
                alt="datosImagen"
              />
            }
            @if (imagen6Ref.value) {
              <div class="form-text text-danger clearfix">
                <span class="pull-start">{{ editForm.get('imagen6ContentType')!.value }}, {{ byteSize(imagen6Ref.value!) }}</span>
                <button
                  type="button"
                  (click)="clearInputImage('imagen6', 'imagen6ContentType', 'file_imagen6')"
                  class="btn btn-secondary btn-xs pull-end"
                >
                  <fa-icon icon="times"></fa-icon>
                </button>
              </div>
            }
            <input
              type="file"
              id="file_imagen6"
              data-cy="imagen6"
              (change)="setFileData($event, 'imagen6', true)"
              accept="image/*"
              jhiTranslate="entity.action.addimage"
            />
          </div>
          <input type="hidden" class="form-control" name="imagen6" id="field_imagen6" data-cy="imagen6" formControlName="imagen6" />
          <input
            type="hidden"
            class="form-control"
            name="imagen6ContentType"
            id="field_imagen6ContentType"
            formControlName="imagen6ContentType"
          />
        </div>

        @let imagen7Ref = editForm.get('imagen7')!;
        <div class="mb-3">
          <label class="form-label" for="field_imagen7" jhiTranslate="appylbApp.datosImagen.imagen7">Imagen 7</label>
          <div>
            @if (imagen7Ref.value) {
              <img
                [src]="'data:' + editForm.get('imagen7ContentType')!.value + ';base64,' + imagen7Ref.value"
                style="max-height: 100px"
                alt="datosImagen"
              />
            }
            @if (imagen7Ref.value) {
              <div class="form-text text-danger clearfix">
                <span class="pull-start">{{ editForm.get('imagen7ContentType')!.value }}, {{ byteSize(imagen7Ref.value!) }}</span>
                <button
                  type="button"
                  (click)="clearInputImage('imagen7', 'imagen7ContentType', 'file_imagen7')"
                  class="btn btn-secondary btn-xs pull-end"
                >
                  <fa-icon icon="times"></fa-icon>
                </button>
              </div>
            }
            <input
              type="file"
              id="file_imagen7"
              data-cy="imagen7"
              (change)="setFileData($event, 'imagen7', true)"
              accept="image/*"
              jhiTranslate="entity.action.addimage"
            />
          </div>
          <input type="hidden" class="form-control" name="imagen7" id="field_imagen7" data-cy="imagen7" formControlName="imagen7" />
          <input
            type="hidden"
            class="form-control"
            name="imagen7ContentType"
            id="field_imagen7ContentType"
            formControlName="imagen7ContentType"
          />
        </div>

        @let imagen8Ref = editForm.get('imagen8')!;
        <div class="mb-3">
          <label class="form-label" for="field_imagen8" jhiTranslate="appylbApp.datosImagen.imagen8">Imagen 8</label>
          <div>
            @if (imagen8Ref.value) {
              <img
                [src]="'data:' + editForm.get('imagen8ContentType')!.value + ';base64,' + imagen8Ref.value"
                style="max-height: 100px"
                alt="datosImagen"
              />
            }
            @if (imagen8Ref.value) {
              <div class="form-text text-danger clearfix">
                <span class="pull-start">{{ editForm.get('imagen8ContentType')!.value }}, {{ byteSize(imagen8Ref.value!) }}</span>
                <button
                  type="button"
                  (click)="clearInputImage('imagen8', 'imagen8ContentType', 'file_imagen8')"
                  class="btn btn-secondary btn-xs pull-end"
                >
                  <fa-icon icon="times"></fa-icon>
                </button>
              </div>
            }
            <input
              type="file"
              id="file_imagen8"
              data-cy="imagen8"
              (change)="setFileData($event, 'imagen8', true)"
              accept="image/*"
              jhiTranslate="entity.action.addimage"
            />
          </div>
          <input type="hidden" class="form-control" name="imagen8" id="field_imagen8" data-cy="imagen8" formControlName="imagen8" />
          <input
            type="hidden"
            class="form-control"
            name="imagen8ContentType"
            id="field_imagen8ContentType"
            formControlName="imagen8ContentType"
          />
        </div>

        @let imagen9Ref = editForm.get('imagen9')!;
        <div class="mb-3">
          <label class="form-label" for="field_imagen9" jhiTranslate="appylbApp.datosImagen.imagen9">Imagen 9</label>
          <div>
            @if (imagen9Ref.value) {
              <img
                [src]="'data:' + editForm.get('imagen9ContentType')!.value + ';base64,' + imagen9Ref.value"
                style="max-height: 100px"
                alt="datosImagen"
              />
            }
            @if (imagen9Ref.value) {
              <div class="form-text text-danger clearfix">
                <span class="pull-start">{{ editForm.get('imagen9ContentType')!.value }}, {{ byteSize(imagen9Ref.value!) }}</span>
                <button
                  type="button"
                  (click)="clearInputImage('imagen9', 'imagen9ContentType', 'file_imagen9')"
                  class="btn btn-secondary btn-xs pull-end"
                >
                  <fa-icon icon="times"></fa-icon>
                </button>
              </div>
            }
            <input
              type="file"
              id="file_imagen9"
              data-cy="imagen9"
              (change)="setFileData($event, 'imagen9', true)"
              accept="image/*"
              jhiTranslate="entity.action.addimage"
            />
          </div>
          <input type="hidden" class="form-control" name="imagen9" id="field_imagen9" data-cy="imagen9" formControlName="imagen9" />
          <input
            type="hidden"
            class="form-control"
            name="imagen9ContentType"
            id="field_imagen9ContentType"
            formControlName="imagen9ContentType"
          />
        </div>

        @let imagen10Ref = editForm.get('imagen10')!;
        <div class="mb-3">
          <label class="form-label" for="field_imagen10" jhiTranslate="appylbApp.datosImagen.imagen10">Imagen 10</label>
          <div>
            @if (imagen10Ref.value) {
              <img
                [src]="'data:' + editForm.get('imagen10ContentType')!.value + ';base64,' + imagen10Ref.value"
                style="max-height: 100px"
                alt="datosImagen"
              />
            }
            @if (imagen10Ref.value) {
              <div class="form-text text-danger clearfix">
                <span class="pull-start">{{ editForm.get('imagen10ContentType')!.value }}, {{ byteSize(imagen10Ref.value!) }}</span>
                <button
                  type="button"
                  (click)="clearInputImage('imagen10', 'imagen10ContentType', 'file_imagen10')"
                  class="btn btn-secondary btn-xs pull-end"
                >
                  <fa-icon icon="times"></fa-icon>
                </button>
              </div>
            }
            <input
              type="file"
              id="file_imagen10"
              data-cy="imagen10"
              (change)="setFileData($event, 'imagen10', true)"
              accept="image/*"
              jhiTranslate="entity.action.addimage"
            />
          </div>
          <input type="hidden" class="form-control" name="imagen10" id="field_imagen10" data-cy="imagen10" formControlName="imagen10" />
          <input
            type="hidden"
            class="form-control"
            name="imagen10ContentType"
            id="field_imagen10ContentType"
            formControlName="imagen10ContentType"
          />
        </div>

        @let imagen11Ref = editForm.get('imagen11')!;
        <div class="mb-3">
          <label class="form-label" for="field_imagen11" jhiTranslate="appylbApp.datosImagen.imagen11">Imagen 11</label>
          <div>
            @if (imagen11Ref.value) {
              <img
                [src]="'data:' + editForm.get('imagen11ContentType')!.value + ';base64,' + imagen11Ref.value"
                style="max-height: 100px"
                alt="datosImagen"
              />
            }
            @if (imagen11Ref.value) {
              <div class="form-text text-danger clearfix">
                <span class="pull-start">{{ editForm.get('imagen11ContentType')!.value }}, {{ byteSize(imagen11Ref.value!) }}</span>
                <button
                  type="button"
                  (click)="clearInputImage('imagen11', 'imagen11ContentType', 'file_imagen11')"
                  class="btn btn-secondary btn-xs pull-end"
                >
                  <fa-icon icon="times"></fa-icon>
                </button>
              </div>
            }
            <input
              type="file"
              id="file_imagen11"
              data-cy="imagen11"
              (change)="setFileData($event, 'imagen11', true)"
              accept="image/*"
              jhiTranslate="entity.action.addimage"
            />
          </div>
          <input type="hidden" class="form-control" name="imagen11" id="field_imagen11" data-cy="imagen11" formControlName="imagen11" />
          <input
            type="hidden"
            class="form-control"
            name="imagen11ContentType"
            id="field_imagen11ContentType"
            formControlName="imagen11ContentType"
          />
        </div>

        @let imagen12Ref = editForm.get('imagen12')!;
        <div class="mb-3">
          <label class="form-label" for="field_imagen12" jhiTranslate="appylbApp.datosImagen.imagen12">Imagen 12</label>
          <div>
            @if (imagen12Ref.value) {
              <img
                [src]="'data:' + editForm.get('imagen12ContentType')!.value + ';base64,' + imagen12Ref.value"
                style="max-height: 100px"
                alt="datosImagen"
              />
            }
            @if (imagen12Ref.value) {
              <div class="form-text text-danger clearfix">
                <span class="pull-start">{{ editForm.get('imagen12ContentType')!.value }}, {{ byteSize(imagen12Ref.value!) }}</span>
                <button
                  type="button"
                  (click)="clearInputImage('imagen12', 'imagen12ContentType', 'file_imagen12')"
                  class="btn btn-secondary btn-xs pull-end"
                >
                  <fa-icon icon="times"></fa-icon>
                </button>
              </div>
            }
            <input
              type="file"
              id="file_imagen12"
              data-cy="imagen12"
              (change)="setFileData($event, 'imagen12', true)"
              accept="image/*"
              jhiTranslate="entity.action.addimage"
            />
          </div>
          <input type="hidden" class="form-control" name="imagen12" id="field_imagen12" data-cy="imagen12" formControlName="imagen12" />
          <input
            type="hidden"
            class="form-control"
            name="imagen12ContentType"
            id="field_imagen12ContentType"
            formControlName="imagen12ContentType"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_versionDatos" jhiTranslate="appylbApp.datosImagen.versionDatos">Version Datos</label>
          <select
            class="form-control"
            id="field_versionDatos"
            data-cy="versionDatos"
            name="versionDatos"
            formControlName="versionDatos"
            [compareWith]="compareVersionDatos"
          >
            <option [ngValue]="null"></option>
            @for (versionDatosOption of versionDatosCollection; track $index) {
              <option [ngValue]="versionDatosOption">{{ versionDatosOption.nombreVersion }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
