@if (operador) {
  <form name="deleteForm" (ngSubmit)="confirmDelete(operador.id!)">
    <div class="modal-header">
      <h4 class="modal-title" data-cy="operadorDeleteDialogHeading" jhiTranslate="entity.delete.title">Confirmar operación de borrado</h4>
    </div>

    <div class="modal-body">
      <jhi-alert-error></jhi-alert-error>
      <p id="jhi-delete-operador-heading" jhiTranslate="appylbApp.operador.delete.question" [translateValues]="{ id: operador.id }">
        ¿Seguro que quiere eliminar Operador {{ operador.id }}?
      </p>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
        <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
      </button>

      <button id="jhi-confirm-delete-operador" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
        <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete">Eliminar</span>
      </button>
    </div>
  </form>
}
